body {
}

.customDiv{
    background-color: silver;
    margin: 3px 3px;
    height: 300px;
    text-align: center;
}

.mainContent > .customDiv{
    height: 600px;
}

img{
    height:300px;
    width:300px;
    min-height:300px;
    min-width:300px;
    max-height:300px;
    max-width:300px;
}
